<nav class="pagenav clearfix">
	<% if (page.prev){ %>
		<a href="<%- config.root %><%- page.prev_link %>" title="<%= __('上一章') %>" class="prevpage"><%= __('prev') %></a>
	<% } %>
	<% if (page.next){ %>
		<a href="<%- config.root %><%- page.next_link %>" title="<%= __('下一章') %>" class="nextpage"><%= __('next') %></a>
	<% } %>
</nav>